<launch>
    <!-- 프로젝트 이름을 인자로 받아서 사용할 수 있도록 설정 -->
    <arg name="project" default="imu_modifier" />

    <!-- YAML 파일에서 파라미터 로드 -->
    <!--<rosparam file="$(find imu_modifier)/config/costmap_params.yaml" command="load"/>-->

    <!-- 각 노드를 실행 -->
    <node pkg="$(arg project)" type="slam_planning.py" name="slam_planning" output="screen"/>
    <node pkg="$(arg project)" type="imu_noise_adder.py" name="imu_noise_adder"/>
    <node pkg="$(arg project)" type="imu_Hz_calculator.py" name="imu_Hz_calculator"/>
    <!--<node pkg="$(arg project)" type="create_costmap_node" name="costmap" output="screen" /> --> 
    <!-- 주석 처리된 노드 -->
    <!-- <node pkg="$(arg project)" type="slam_planning.py" name="slam_planning" output="screen"/> -->
</launch>